<div class="d-flex align-items-center">
  <h1>台帳に追加</h1>
  <div class="ml-auto posts_button">
    <%= link_to '顧客台帳', posts_path, class: 'btn btn-outline-info' %>
  </div>
</div>
<%= render partial: 'form', locals: { post: @post} %>
